.setup-page {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.setup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    background-color: white;
    height: 100px;
    width: 250px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.setup-btn:hover {
    transition: .6s;
    background-color: grey;
}